.chat {
  display: grid;
  grid-template-rows: 1fr 20fr 1fr;
  height: 100vh;
}
.chatHeader {
  display: grid;
  grid-template-columns: 65px 1fr;
  background-color: #e6e6e6;
  border-bottom: 1px solid #808080;
  padding: 10px 15px;
}
.userName {
  font-size: 20px;
  line-height: 20px;
  padding: 15px 0;
  font-weight: bold;
}
.chatWindow {
}
.chatInputSection {
  position: relative;
  padding: 40px 20px 40px 40px;
  border-top: 1px solid #808080;
  background-color: #e6e6e6;
}
.newMessageInput {
  padding: 20px 80px 20px 20px;
  height: 60px;
  line-height: 20px;
  font-size: 16px;
  width: 100%;
  border: 0;
  border-radius: 20px;
}
.newMessageSendButton {
  position: absolute;
  right: 15px;
  height: 60px;
  width: 60px;
  background: url(../utils/send.svg) no-repeat scroll;
  opacity: 0.6;
  border: 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.newMessageSendButton:hover {
  cursor: pointer;
}
