.contactsSection {
  display: grid;
  grid-template-rows: 1fr 9fr;
  border-right: 1px solid #808080;
  height: 100vh;
}
.userAndSearch {
  background-color: #e6e6e6;
  padding: 20px 20px;
  border-bottom: 1px solid #808080;
}
.searchBar {
  background: url(../utils/search.svg) no-repeat scroll 11px 11px;
  background-color: #ffffff;
  width: 100%;
  height: 40px;
  justify-self: center;
  border: 0;
  border-radius: 17px;
  font-size: 16px;
  padding: 0 35px;
  margin-top: 20px;
}
.contactsHeader {
  padding: 40px 20px 20px;
  font-size: 30px;
  color: #00bfff;
}
.nothingIsFound {
  padding-top: 40px;
  font-size: 30px;
  color: #00bfff;
  text-align: center;
}
.contactList {
  overflow-y: scroll;
}
.contactList::-webkit-scrollbar {
  display: none;
}
.profile {
  display: grid;
  grid-template-columns: 70px 5fr 2fr;
  padding: 20px 10px 20px 20px;
  border-bottom: 1px solid #808080;
}
.nameAndMessage {
  padding-left: 10px;
}

.latestMessage {
  color: #808080;
}
.date {
  text-align: center;
}
